<div class="search-container">
    <mat-form-field appearance="outline">
      <mat-label>Tax Payer ID</mat-label>
      <input matInput [(ngModel)]="taxPayerId">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="search()">Search</button>
  
    <div class="filters">
      <div class="filter-box" [class.selected]="filter === 'individuals'" (click)="selectFilter('individuals')">Individuals</div>
      <div class="filter-box" [class.selected]="filter === 'companies'" (click)="selectFilter('companies')">Companies</div>
      <div class="filter-box" [class.selected]="filter === 'hasPaid'" (click)="selectFilter('hasPaid')">Has Paid</div>
      <div class="filter-box" [class.selected]="filter === 'inArrears'" (click)="selectFilter('inArrears')">In Arrears</div>
      <div class="filter-box" *ngIf="filter === 'companies'" [class.selected]="subFilter === 'VAT'" (click)="selectSubFilter('VAT')">VAT</div>
      <div class="filter-box" *ngIf="filter === 'companies'" [class.selected]="subFilter === 'INCOME'" (click)="selectSubFilter('INCOME')">Income Tax</div>
    </div>
  
    <div *ngIf="searchResults && searchResults.length > 0" class="results-container">
      <mat-card *ngFor="let result of pagedResults" class="result-card" [ngClass]="{'paid': result.hasPaid, 'in-arrears': !result.hasPaid}">
        <mat-card-header>
          <div mat-card-avatar class="result-avatar" [ngClass]="{'individual': result.type === 'INDIVIDUAL', 'company': result.type === 'BUSINESS'}"></div>
          <mat-card-title>{{ result.id }} - {{ result.type | titlecase }}</mat-card-title>
          <mat-card-subtitle>{{ result.hasPaid ? 'Paid' : 'In Arrears' }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content *ngIf="result.amountOwing > 0">
          <p><strong>Amount Owed:</strong> {{ result.amountOwing | currency: 'BBD$' }}</p>
          <p *ngIf="result.type === 'BUSINESS'"><strong>Tax Type:</strong> {{ result.taxType | titlecase }}</p>
        </mat-card-content>
        <mat-card-content *ngIf="result.hasPaid">
          <p><strong>Amount Paid:</strong> {{ result.paymentAmount | currency: 'BBD$' }}</p>
        </mat-card-content>
      </mat-card>
      <mat-paginator [length]="searchResults.length" [pageSize]="5" (page)="pageChanged($event)"></mat-paginator>
    </div>
    <div *ngIf="searchResults && searchResults.length === 0">
      <p>No results found.</p>
    </div>
  </div>
  