<div class="loginForm">
    <h1>Welcome to TodoZen</h1>
    <h4>{{ isSignUp ? 'Sign up to create an account' : 'Sign in to your account' }}</h4>
    <form (ngSubmit)="isSignUp ? handleSignUp($event) : handleSignIn($event)">
      <div>
        <input
          class="inputText"
          id="email"
          type="email"
          [(ngModel)]="email"
          name="email"
          placeholder="Email"
          required
        />
      </div>
      <div>
        <input
          class="inputText"
          id="password"
          type="password"
          [(ngModel)]="password"
          name="password"
          placeholder="Password"
          required
        />
      </div>
      <div *ngIf="isSignUp">
        <input
          class="inputText"
          id="confirmPassword"
          type="password"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          placeholder="Confirm Password"
          required
        />
      </div>
      <button type="submit">{{ isSignUp ? 'Sign Up' : 'Sign In' }}</button>
    </form>
    <button (click)="isSignUp = !isSignUp">
      {{ isSignUp ? 'Already have an account? Sign In' : 'Need an account? Sign Up' }}
    </button>
  </div>
  